<p id="notice"><%= notice %></p>
<h1>Recipes</h1>
<%= form_tag(recipes_path, method: :get) do %>
  <%= text_field_tag(:search, params[:search]) %>
  <%= submit_tag("Search") %>
<% end %>
<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>author</th>
      <th>Time</th>
      <th>Rate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.author.name %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.rate %></td>
        <td><%= recipe.ingredients %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
