<div class="container">
  <p id="notice"><%= notice %></p>
  <h1 class="text-center">Recettes</h1>
  <%= form_tag(recipes_path, method: :get) do %>
    <div class="form-group">
       <label>Search : </label>
      <%= text_field_tag(:search, params[:search], class: "form-control") %>
      <small class="form-text text-muted">Enter a list of ingredients</small>
    </div>
    <div class="form-inline">
      <label class=""> in less than : </label>
      <%= number_field_tag(:less_than_minutes, params[:less_than_minutes], class: "form-control") %>
      <small class="form-text text-muted"> minutes </small>
    </div>
    <div class="form-inline">
      <label class=""> with a rating greater than : </label>
      <%= number_field_tag(:rating_greater_than, params[:rating_greater_than], min: 1, max: 5, class: "form-control") %>
    </div>
    <%= submit_tag("Search", class: "btn btn-primary") %>
  <% end %>
  <br>
  <br>
  <%= paginate @recipes %>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">author</th>
        <th scope="col">Time</th>
        <th scope="col">Rate</th>
        <th scope="col">Ingredients </th>
        <th scope="col">tags </th>
      </tr>
    </thead>

    <tbody>
      <% @recipes.each do |recipe| %>
        <tr>
          <td scope="row"><%= link_to recipe.name, recipe %></td>
          <td><%= link_to recipe.author.name, recipe.author %></td>
          <td>
          <% if recipe.total_time %>
            <%= ChronicDuration.output(recipe.total_time) %>
          <% end %>
          </td>
          <td><%= recipe.rate %></td>
          <td><%= recipe.ingredients %></td>
          <td>
            <% recipe.tags.each do |tag| %>
              <%= link_to tag.name, tag %>;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
