<div class="container">
  <p id="notice"><%= notice %></p>
  <p>
    <strong>Author:</strong>
    <%= @author.name %>
  </p>

  <table class="table">
    <thead>
      <tr>
        <th scope="col">Name</th>
        <th scope="col">author</th>
        <th scope="col">Time</th>
        <th scope="col">Rate</th>
        <th scope="col">Ingredients </th>
        <th scope="col">tags </th>
      </tr>
    </thead>

    <tbody>
      <% @author.recipes.each do |recipe| %>
        <tr>
          <td scope="row"><%= link_to recipe.name, recipe %></td>
          <td><%= link_to recipe.author.name, recipe.author %></td>
          <td>
          <% if recipe.total_time %>
            <%= ChronicDuration.output(recipe.total_time) %>
          <% end %>
          </td>
          <td><%= recipe.rate %></td>
          <td><%= recipe.ingredients %></td>
          <td>
            <% recipe.tags.each do |tag| %>
              <%= link_to tag.name, tag %>;
            <% end %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to 'Back', recipes_path %>
