<p id="notice"><%= notice %></p>
<p>
  <strong>Author:</strong>
  <%= @author.name %>
</p>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>author</th>
      <th>Time</th>
      <th>Rate</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @author.recipes.each do |recipe| %>
      <tr>
        <td><%= link_to recipe.name, recipe %></td>
        <td><%= recipe.author.name %></td>
        <td><%= recipe.prep_time %></td>
        <td><%= recipe.rate %></td>
        <td><%= recipe.ingredients %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'Back', recipes_path %>
